<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  
  
   <!--
    Require login. We only require login for the MobileWebApp.html page (instead of *.html) because
    we do not want to require login for the compiled GWT javascript files, which also end in .html.
  -->
  <security-constraint>
    <display-name>
      Redirect to the login page if needed before showing
      the host html page.
    </display-name>
    <web-resource-collection>
      <web-resource-name>Login required</web-resource-name>
      <url-pattern>/LoveLicense.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  
  
  
  <!-- Servlets -->
  <servlet>
	<servlet-name>requestFactoryServlet</servlet-name>
	<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
	<!-- <init-param>
		<param-name>symbolMapsDirectory</param-name>
		
		<param-value>WEB-INF/classes/symbolMaps/</param-value>
	</init-param> -->
</servlet>

<servlet-mapping>
	<servlet-name>requestFactoryServlet</servlet-name>
	<url-pattern>/gwtRequest</url-pattern>
</servlet-mapping>
  
  
  
   <filter>
    <filter-name>GaeAuthFilter</filter-name>
    <description>
      This filter demonstrates making GAE authentication
      services visible to a RequestFactory client.
    </description>
    <filter-class>com.google.gwt.homepage.gaerequest.server.GaeAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GaeAuthFilter</filter-name>
    <url-pattern>/gwtRequest/*</url-pattern>
  </filter-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LoveLicense.html</welcome-file>
  </welcome-file-list>

</web-app>
